[project]
name = "work-5-py"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.122.0",
    "prometheus-client>=0.23.1",
    "uvicorn>=0.38.0",
]
