services:
  timescaledb:
    image: timescale/timescaledb:latest-pg17
    container_name: timescaledbSemenov
    environment:
      - POSTGRES_DB=timeseries
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=semenov
    ports:
      - "5432:5432"
    volumes:
      - timescaledb_data:/var/lib/postgresql/data
    restart: unless-stopped
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=semenov@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:main
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped

volumes:
  timescaledb_data:
  grafana_data:

