services:
  elasticsearcht:
    container_name: elasticsearcht
    image: elasticsearch:9.2.2
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - "./esdata:/usr/share/elasticsearch/data"

  kibana:
    image: kibana:9.2.2
    container_name: kibana
    environment:
      - "ELASTICSEARCH_HOSTS=http://elasticsearcht:9200"
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearcht
